.Dictionary section {
  display: flex;

}

.Dictionary .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dictionary input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

}

.hints {
  margin: 0.4em;
  color: #303030;
  opacity: 0.5;
}

.Dictionary section {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0/5%);
  margin: 20px 0;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .Dictionary section {
    flex-direction: column;
  }

}