.Phonetic {
    display: flex;
    align-items: center;
    position: relative;
    left: 1rem;
}

.Phonetic .wordSpeak {
    display: inline;
    line-height: 54px;
    position: relative;
    top: -8px;
    color: #303030;
    opacity: 0.5;
}