.Synonyms {
    margin: 20px 0px 0px;
    padding: 0;
    display: block;
    text-align: left;
}

.Synonyms li {
    list-style: none;
    padding-right: 1em;
    position: relative;
    right: 2rem;
    display: inline-block;
    margin-bottom: 0.5em;
}